header
{
    box-sizing: border-box;
    height: 100px;
    padding-right: 20px;
    padding-left: 20px;
}
.tech
{
    box-sizing: border-box;
    height: 100px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 1400px;
    padding-top: 50px;
    text-align: center;
}
.content,.Contact,.home
{
    border: 5px skyblue solid;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-top: 30px;
    margin-top: 30px;
    box-shadow:5px 5px 5px 5px slategrey;
}
.founder
{
    border: 5px skyblue solid;
    padding-top: 20px;
    box-shadow:5px 5px 5px 5px slategrey;
}
.tag
{
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 20px;
}

.tag,.Contact
{
    text-align: center;
}
footer
{
    box-sizing: border-box;
    height: 100px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    padding-top: 50px;
}
.menubar 
{
    padding-top: 20px;
    float: right;
}
a:hover
{
    font-size: 30px;
    color: rgb(17, 191, 235) ;
    cursor: pointer;
}
a
{
    font-size: 30px;
    padding: 10px;
    color:darkslategray;
    padding-right: 30px;
    text-decoration: none;
}
body
{
    color:darkslategray;
}
.home
{
    text-align: center;
}
#msg
{
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 5px;
}
#subj
{
    width: 200px;
    height: 30px;
    padding: 5px;

}
#name
{
    width: 200px;
    height: 20px;
    padding: 5px;

}
.tag1
{
    padding-top: 100px;
}
button
{
    padding: 15px;
    font-size: 15px;
}
@media only screen and (max-width: 733.33px)  
{
.menubar
{
  display: block;
  box-sizing: border-box;
  align-items:center;
  padding-left: 200px;
  padding-right: 200px;

  padding-bottom: 20px;
}
a{
    padding-left: 50px;
}
.home
{
    margin-top: 200px;
}
}